/*=====================
  reset css
=====================*/
/**
 * media
 */
/* html { font-size: 62.5%; } */
* {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    /* list-style: none; */
    word-wrap: break-word;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, pre, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #3b3b3b;
    overflow-x: hidden;
}

input, select, button, textarea {
    font-size: 100%;
    font-family: inherit;
    outline: none;
    border: 0;
}

img {
    border: none;
    max-width: 100%;
}

a img {
    vertical-align: top;
}

:focus {
    outline: 0;
}

.clearfix:after, .area:after {
    clear: both;
    height: 0;
    display: block;
    content: "\0020";
}

.clearfix, .area {
    zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

.b {
    font-weight: bold;
}

.of {
    overflow: hidden;
}

.po-r {
    position: relative;
}

.po-a {
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.h100 {
    height: 100%;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt70 {
    margin-top: 70px;
}

.mt90 {
    margin-top: 90px;
}

.mt120 {
    margin-top: 120px;
}

.pt70 {
    padding-top: 70px;
}

/* backtop */

.backtop {
    position: fixed;
    right: 20px;
    bottom: 140px;
    z-index: 80;
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -999em;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: url('../../../images/default/pc2019/bg_backtop.png') no-repeat center #fff;
    -webkit-transition: .5s;
    transition: .5s;
}

.backtop:hover {
    background: url('../../../images/default/pc2019/bg_backtop_on.png') no-repeat center #fff;
}

/*=====================
    header css
  =====================*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-size: 30px;
    background-color: #65c6f8;
    box-shadow: 0px 14.722px 21px 0px rgba(105, 44, 96, 0.14);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.header.header-show {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.header-inner {
    width: 100%;
}

.header-logo {
    margin-top: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.sticky .header-logo {
    margin-top: 0;
}

.header-logo-link {
    display: block;
}

.header-logo-img {
    height: 45px;
}

.header-nav {
    position: relative;
    font-size: 0;
    text-align: center;
}

.header-nav-uls {
    float: right;
}

.header-nav-item {
    margin: 0 25px;
    float: left;
}

.header-nav-item .header-nav-link {
    color: #fff;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 42px 0;
    font-size: 24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.sticky .header-nav-item .header-nav-link {
    padding: 22px 0;
}

.sticky .header-nav-item.on .header-nav-link, .sticky .header-nav-item:hover .header-nav-link {
    padding: 22px 0 16px 0;
}

.header-nav-item.on .header-nav-link, .header-nav-item:hover .header-nav-link {
    font-weight: bold;
    color: #fff;
    padding: 42px 0 36px 0;
    border-bottom: 6px solid #fff;
}

.header-subnav {
    display: none;
    position: fixed;
    /* top: 100%; */
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    opacity: 0.95;
    background-color: #fff;
    box-shadow: 3.5px 6.062px 13px 0px rgba(4, 0, 0, 0.15);
    z-index: 1000;
}

.header-nav-item:hover .header-subnav {
    display: block;
}

/*=====================
    main css
  =====================*/

.w1100 {
    margin: 0 auto;
    width: 1100px;
}

.w1200 {
    margin: 0 auto;
    width: 1200px;
}

/*=====================
    mod-title 鍏叡鏍囬 css
  =====================*/

.mod-title {
    width: 100%;
    height: 150px;
    text-align: center;
}

.mod-big-title {
    height: 150px;
    line-height: 150px;
    font-size: 0;
}

h2.mod-big-title {
    height: 150px;
    line-height: 150px;
    font-size: 0;
    text-align: center;
}

.mod-title-en {
    font-size: 30px;
    font-weight: normal;
    color: #0faeff;
}

.mod-title-separate {
    padding: 0 15px;
}

.mod-title-separate, .mod-title-ch {
    font-size: 30px;
    font-weight: normal;
    color: #4819af;
}

/*=====================
    footer css
  =====================*/

.footer {
    width: 100%;
    height: 60px;
    background-color: #000;
    border-top: 1px solid #343434;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}

.footer span {
    display: inline-block;
    height: 20px;
    margin: 20px 10px;
    font-size: 14px;
    color: #707070;
}

.footer span a {
    color: #707070;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.footer span a:hover {
    color: #fff;
}

/*=====================
    mod-product-form 浜у搧鏈嶅姟琛ㄥ崟 css
  =====================*/

.mod-product-form {
    padding-top: 110px;
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.mod-product-form .inner {
    font-size: 0;
}

.mod-product-form .desc {
    margin-right: 50px;
    width: 430px;
}

.mod-product-form .desc .ask {
    display: inline-block;
    margin-top: -8px;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #0faeff;
    border-bottom: 4px solid #4819af;
}

.mod-product-form .desc .ans {
    margin-top: 20px;
    font-size: 16px;
    color: #878787;
}

.mod-product-form .desc .tel {
    display: block;
    margin-top: 30px;
    line-height: 1;
    font-size: 60px;
    /*font-family: 'HelveticaExt-Normal';*/
    color: #4819af;
    font-weight: bold;
}

.mod-product-form .desc .desc-uls {
    margin-top: 15px;
}

.mod-product-form .desc .desc-uls .item {
    line-height: 1.8;
    font-size: 14px;
    color: #666;
}

.mod-product-form .info {
    width: 720px;
}

.mod-product-form .formlist {
    position: relative;
    width: 100%;
    height: 287px;
}

.mod-product-form .form-item {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    line-height: 2.2;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.mod-product-form .item-companyName {
    top: 0px;
    left: 0px;
}

.mod-product-form .item-email {
    top: 78px;
    left: 0px;
}

.mod-product-form .item-name {
    top: 156px;
    left: 0px;
    width: 164px;
    height: 58px;
}

.mod-product-form .item-phone {
    top: 234px;
    left: 0px;
    width: 164px;
    height: 58px;
}

.mod-product-form .item-message {
    top: 156px;
    left: 224px;
    padding: 13px 20px;
    width: 456px;
    height: 110px;
}

.mod-product-form .info input, .mod-product-form .info textarea {
    width: 100%;
    background-color: transparent;
    line-height: 58px;
    height: 58px;
    font-size: 16px;
    color: #000;
}

.mod-product-form .info textarea {
    display: block;
    line-height: 2;
    height: 110px;
    resize: none;
}

.mod-product-form .info .btn-box {
    padding: 40px 50px;
    text-align: right;
}

.mod-product-form .info .btn-submit {
    width: 137px;
    height: 55px;
    font-size: 14px;
    color: #fff;
    border-radius: 27px;
    background-color: rgb(72, 25, 175);
    box-shadow: 0px 13px 34px 0px rgba(197, 164, 126, 0.5);
    cursor: pointer;
}

/*=====================
    鎻愮ず妗� css
  =====================*/

.weui_dialog_alert {
    display: none;
}

.weui_mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.weui_dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    width: 380px;
    line-height: 1.6;
    text-align: center;
    border-radius: 10px;
    background-color: #fafafa;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.weui_dialog_hd {
    padding: 10px 10px 20px 10px;
}

.weui_dialog_title {
    font-weight: 400;
    font-size: 16px;
}

.weui_dialog_bd {
    padding: 20px 10px;
    font-size: 16px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 15px;
}

.weui_dialog_ft {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    line-height: 42px;
}

.weui_dialog_ft a {
    display: block;
    color: #4819af;
    text-decoration: none;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.weui_dialog_ft:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    border-top: 1px solid #d5d5d5;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

