/*
 * @Author: omtech.cn 
 * @Date: 2018-05-30 17:12:44
 * @Last Modified by: Doris.Lee
 * @Last Modified time: 2019-12-14 17:08:17
 */

body::-webkit-scrollbar {
    width: 0 !important
}

.main-index {
    position: relative;
    min-height: 900px;
}

/*=====================
   opening 寮€鍦哄姩鐢� css
 =====================*/

.opening {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background-color: #0faeff;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.opening-box {
    width: 100%;
    height: 100%;
    background: url('../../../images/default/pc2019/open_animate/bg_open_2.png') no-repeat center;
    background-size: 100% 100%;
}

.opening .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../../images/default/pc2019/open_animate/bg_open_line.png') no-repeat center;
    background-size: 100% 100%;
    opacity: 0;
    z-index: 10;
}

.opening .open-bg-3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../../images/default/pc2019/open_animate/bg_open_3.png') no-repeat center;
    background-size: 100% 100%;
}

.opening .line-short {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.opening .line-short img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.opening .title {
    position: absolute;
    left: 0;
    top: 34.7%;
    width: 100%;
    height: 40.8%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.opening .title img {
    margin-left: 5%;
    width: auto;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

/*=====================
   banner css
 =====================*/

.banner, .banner .carousel-inner, .banner .carousel-inner li {
    width: 100%;
    height: 822px;
}

.banner {
    overflow: hidden;
    position: relative;
    background-color: #65c6f8;
}

.banner .carousel-inner {
    position: relative;
}

.banner .carousel-inner li {
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

.banner .carousel-inner li a {
    display: block;
    height: 100%;
}

.banner .carousel-inner ul, .banner .carousel-inner li {
    -webkit-transition: none;
    transition: none;
}

/*dot*/

.banner .dot {
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 1;
    text-align: center;
}

.banner .dot span {
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin: 0 8px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    background: none;
}

.banner .dot span.on {
    border: 1px solid #f5ad1f;
    background-color: #f5ad1f;
}

/* prev\next */

.banner .prev, .banner .next {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    display: block;
    width: 50px;
    height: 80px;
    background: url('../../../images/default/pc2019/icon_banner.png') no-repeat rgba(0, 0, 0, .5);
    transition: all .5s;
    -webkit-transition: all .5s;
}

.banner .prev:hover, .banner .next:hover {
    background-color: rgba(0, 0, 0, .8);
}

.banner .prev {
    left: -50px;
    background-position: left top;
}

.banner .next {
    right: -50px;
    background-position: right bottom;
}

.banner .prev:hover {
    background-position: right top;
}

.banner .next:hover {
    background-position: left bottom;
}

.banner .prevStop {
    display: none;
}

.banner .nextStop {
    display: none;
}

/* about */
.mod-about .about-info {
    width: 100%;
    margin: 0 auto;
}
.mod-about .about-me-photo {
    /* display: block; */
    width: 200px;
    margin-right:100px;
    height: auto;
}
.about-me-text {
    padding-top: 20px;
    font-size: 21px;
    width: 800px;
}
.about-me-text h2 {
    font-size: 50px;
    font-weight: bold;
}
.li-decimal ul,
.li-decimal li {
    list-style: decimal;
}
.mod-sub-list,
.mod-sub-list li {
    list-style: circle;
}
.mod-sub-list {
    padding-left: 50px;
}

/* mod-publications */
.mod-publications {
    padding-top: 110px;
}
.mod-pub-list {
    font-size: 20px;
    text-align: justify;
}
.mod-pub-list li {
    overflow: hidden;
    margin-bottom: 50px;
}
.mod-pub-list .pub-img {
    margin-right: 80px;
    float: left;
    display: block;
    width: 240px;
    height: 180px;
}
.mod-pub-list .link-pdf {
    display: block;
    margin-top: 10px;
}
.line {
    margin: 100px auto 50px;
    height: 0;
    border-top: 3px dashed #65c6f8;
}
.map {
    padding: 20px 0;
    transform: scale(1.3);
}